 .container {
   display: flex;
   flex-flow: row;
   flex-wrap: nowrap;
   height: 90%;
 }
.itemtypebox {
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 80%;
    width: 25%;
    background-color: blueviolet;
    color: black;
    border-radius: 5px;
    overflow: scroll;    
}
.itemeditpanel
{
    position: relative;
    padding: 10px;
    margin: 10px;
     height: 80%;
    width: 60%;
    background-color: rgb(240, 232, 235);
    color: rgb(43, 34, 35);
    border-radius: 5px;
    border: 2px solid black;
}

.itemtypeheader {
    display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
     margin-right: 10px;

    background-color: rgba(85, 87, 87, 0.425);
    color: rgb(246, 246, 248);
    font-display: bold;
    border-radius: 2px; 
    padding-left: 2px;
    padding-right: 2px;
     
}

.itemactionbox {
    margin-left: auto;
}

.availablebox {

     display: flex;
     
     margin-top: 1px;
     margin-bottom: 1px;
     margin-left: 10px;
     margin-right: 10px;
    background-color: rgb(68, 67, 71);
    color: rgb(245, 245, 248);
    border-radius: 2px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 15px;
    border: 1px solid  black;
    
}

.availableactionbox{
    margin-left: auto;
    padding: 0px;
    margin-top: 0x;
    margin-bottom: 0px;
}


.availableIcons {
    transform : scale(0.75);
    margin:0px;
    padding:0px;
  }

  .availablebox:hover {
      background-color: white;
      color: black;
  }


  .myradiogroup {
      display: flex;
      flex-direction: row;
      margin: 5px 0;

  }

  .myradio {
      margin: 2px;
  }