 <div style="margin-left:4px;margin-right:4px;margin-top:4px;margin-bottom:4px;">
  <button mat-raised-button color="warn" class="buttongap">
    Edit
  </button>
  <button mat-raised-button color="warn" class="buttongap">
      Delete
  </button>
    <span>
      <input mat-input [value]="_action.action">
    </span>
    <span> 
      <input mat-input [value]="_action.role">
    </span>
    <span> 
      <input mat-input [value]="_action.description">
    </span>
    <span> 
      <input mat-input [value]="_action.link" >
    </span>
    <span> 
      <input mat-input [value]="_action.parent" >
    </span>
    <span> 
      <input mat-input [value]="_action.menuitem"  >
    </span>
</div>
