.buttongap {
    margin-right: 4px !important ;
    margin-top: 1px !important ;
    margin-bottom: 1px !important ;
 }

 .inputgap {
    margin-right: 4px !important ;
    margin-top: 1px !important ;
    margin-bottom: 1px !important ;
    
    
 }