/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/css?family=Orbitron';
@import url(http://allfont.net/allfont.css?fonts=digital-7);
.buttongap {
    margin-left: 4px !important ;
    margin-right: 4px !important ;
    margin-top: 4px !important ;
    margin-bottom: 4px !important ;
 }